.light-app{
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.search_bar{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  
}
.search_bar>input{
  border: 1px solid rgba(255, 145, 0, 0.562);
  padding: 5px 10px;
  font-size: 16px;
}
.search_bar>input:focus{
  outline: none;
}
.search_button{
  font-size: 16px;
  cursor: pointer;
  color: rgb(199, 199, 199);
  color: white;
  background-color: orange;
  border: 1px solid orange;
  padding: 5px 10px;
}
.result_div{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
header{
  border-bottom: 10px solid orange;
  position: relative;
}
.header_search_bar{
  border-bottom: 1px solid orange;
  margin: 0 20%;
  padding: 5px 0;
  display: flex;
  align-items:center;
  justify-content:space-between
}
.logo{
  justify-content: center;
  flex: 1;
  color: rgb(99, 99, 99);
  display: flex;
}
.result{
  margin: 0 20%;
  padding-bottom: 40px;
}
.logo_img{
  width: 40px;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
}
.random_meal{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.random_meal_div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  min-width: 205px;
}
.recipe_div{
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 40px;

}
.recipe_details2{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.video{
  flex:2;
  display: flex;
  justify-content: end;
  align-items: center;
}
.recipe_details{
  gap: 20px;
  display: flex;
  align-items: start;
}
.recipe_tumbnail{
  max-width: 235px;
  min-width: 230px;

}
.recipe_tumbnail>img{
  width: 100%; 
}
.recipe_instruction>p{
  clear: left;
}

.ingredients>ul{
  margin-top: 10px;
  padding-left: 20px;
}
.exit_btn{
  margin-top: 40px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}
